.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
    
    nav img{
        width: 150px;
        float: left;
        margin-top: -30px;

    }

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

    
h1 {
    text-align: center;
        font-size: 35px;
        color: #333;;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
}


    p {
        color: #666;
        padding: 10px;
        line-height: 2;
}

.container{
    width: 100%;
}
.container .row{
    width: 100%;
    margin: auto;
}
.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
   .container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
    padding-left: 10%;
   } 
   .container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
   }
   .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
   .content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,1);
    background-color: #fff;
   }
   .content .card img{
    width: 100%;
    height: auto;
   }

   @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
